* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
}

div#descriptionInputContainer {
  width: 70%;
  margin: 0 auto;
}

div#dueDateInputContainer {
  width: 50%;
  margin: 0 auto;
}

input {
  width: 100%;
  height: 50px;
  padding: 2px 10px;
  font-size: 1.2em;
  text-align: left;
}

input[type="date"] {
  width: 100%;
}

input.dueDateEditField {
  width: 40%;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin-top: 1em;
}

li {
  list-style-type: none;
  font-size: 1.2em;
  /* background: linear-gradient(rgb(240, 180, 173), rgb(237, 153, 144), rgb(247, 138, 126)); */
  border: 1px solid rgb(65, 228, 174);
  border-radius: 10px;
  margin: 1em;
}

button {
  margin: .5em;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
}

button:hover {
  background-color: rgb(65, 228, 174);
  cursor: pointer;
}

.completedTodo {
  border-color: rgb(199, 199, 199);
  background-color: rgb(199, 199, 199);
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  margin-top: 50px;
}

::placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(199, 199, 199);
  /* Firefox */
  opacity: 1; 
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder { 
  color: rgb(199, 199, 199);
}
/* Microsoft Edge */
::-ms-input-placeholder { 
  color: rgb(199, 199, 199);
}
/* date placeholder color */
input[type=date]::-webkit-datetime-edit {
  color: rgb(199, 199, 199);
}

@media only screen and (max-width: 700px) {
  div#descriptionInputContainer, 
  div#dueDateInputContainer {
    width: 90%;
  }
}